.conteiner{ background-color: black;

}

.row{

}

.shapka h1{
	text-align: center; 
	background-color: white;
	font-family: Blackoak Std;
	font-size: 40px;

}

.navigaciya { 
	float: left; 
	height: 700px;
	width: 245px;
	color: white;
	font-family: Grafftti123;
	background-image: url("./bydlo.jpg");
	line-height: 400%;


}

.Text{ text-align: center; 
	color: white;
	font-family: Moyenage;
	font-size: 20px;
	line-height: 200%;
	height: 700px;
	
	background-image: url(./FONFON.jpg);
	background-repeat: no-repeat;


}

.podval {
	text-align: center; position: center;
	color: white;

}
li{
	list-style-type: none;
}