.conteinerchick {background-color: black;

}

.rrow{

}

.shapochka h1{
	text-align: center;
	background-color: grey;
	font-family: a_Gildia;
	font-size: 40px;
}

.Textick {text-align: center;
	color: white;
	font-family: Pollock3CTT;
	font-size: 20px;
	line-height: 200%;
	height: 700px;
}